{% extends "editbook.html" %}
{% block form %}
<div class="form-group">
        <label for="name" class="col-sm-2 control-label">姓名</label>
        <input type="text" class="form-control info" id="name" placeholder="name" name="name"  value="{{ obj.name }}">
    </div>
    <div class="form-group">
        <label for="city" class="col-sm-2 control-label">年龄</label>
        <input type="text" class="form-control info" id="age" placeholder="age" name="age" value="{{ obj.age }}">
    </div>
    <div class="form-group">
        <label for="birthday" class="col-sm-2 control-label">生日</label>
        <input type="date" class="form-control info" id="birthday" placeholder="birthday" name="birthday" value="{{ obj.authorDetail.birthday|date:"Y-m-d" }}">
    </div>
        <div class="form-group">
        <label for="telephone" class="col-sm-2 control-label">电话</label>
        <input type="text" class="form-control info" id="telephone" placeholder="telephone" name="telephone" value="{{ obj.authorDetail.telephone }}">
    </div>
        <div class="form-group">
        <label for="addr" class="col-sm-2 control-label">地址</label>
        <input type="text" class="form-control info" id="addr" placeholder="addr" name="addr" value="{{ obj.authorDetail.addr }}">
    </div>
{% endblock form %}